@import "tailwindcss";

@keyframes zoom-slow {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animate-zoom-slow {
  animation: zoom-slow 20s ease-in-out infinite;
}
