@import "tailwindcss";

body {
  background-color: #dfe9ce;
}

@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.12);
  }
}

.animate-zoom-slow {
  animation: zoom 20s ease-in-out infinite;
}

